@font-face {
    font-family: "Michroma";
    src: url("./assets/fonts/Michroma-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Bitcount";
    src: url("./assets/fonts/BitcountGridDouble-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount";
    text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
}

.nav-menu {
    margin: 0 auto;
    display: flex;
    height: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    color: white;
    font-size: 22px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}